
  .example-spacer {
    flex: 1 1 auto;
  }

  .c_img {
    max-width: 40%;
    height: auto;
    margin-left: 12px;
  }

  .c_display_title{
    font-size: 1.25em;
    font-weight: bold;
  }

  .c_display_menu {
    font-size: 1em;
  }